<seaction class="advantages">
  <article class="advantages__item">
    <div class="advantages__icon">
      <img src="assets/images/rocket.svg" alt="rocket"/>
    </div>
    <h3 class="advantages__item-title">
      R# Gets You Rockin'
    </h3>

    <p class="advantages__item-desc">
      ReSharper users report a 20-50% productivity increase — with some individual gains of up to 350%.
    </p>
  </article>
  <article class="advantages__item">
    <div class="advantages__icon">
      <img src="assets/images/flower.svg" alt="flower"/>
    </div>
    <h3 class="advantages__item-title">
      R# Makes Your Code Beautiful
    </h3>

    <p class="advantages__item-desc">
      ReSharper's powerful code analysis and transformation features help you produce high-quality code with no
      additional effort.
    </p>
  </article>
  <article class="advantages__item">
    <div class="advantages__icon">
      <img src="assets/images/volant.svg" alt="volant"/>
    </div>
    <h3 class="advantages__item-title">
      R# is Fun and Easy
    </h3>
    <p class="advantages__item-desc">
      ReSharper seamlessly integrates with Visual Studio, turning it into an IDE you've always wished for:
      easy-to-use, intelligent, unobtrusive.
    </p>
  </article>
</seaction>
