<div id="carousel-example-generic" class="carousel slide slider" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="slider__item item active">
            <img src="https://farm7.staticflickr.com/6237/6290745401_6fac79082f_b.jpg" alt="...">
            <div class="slider__caption">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consectetur doloremque eligendi, exercitationem facere fuga impedit ipsa ipsum labore laboriosam molestias nam nisi officia omnis quasi qui repellendus sunt voluptates?
            </div>
        </div>
        <div class="item slider__item">
            <img src="https://farm6.staticflickr.com/5460/9477944999_26fb43d0f8_k.jpg" alt="...">
            <div class="slider__caption">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam distinctio eius est fuga fugiat id ipsam magni necessitatibus numquam optio quae quasi qui quisquam quod reprehenderit, similique sunt suscipit voluptas!
            </div>
        </div>
        ...
    </div>

    <!-- Controls -->
    <a class="slider__left" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="typcn typcn-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="slider__right" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="typcn typcn-chevron-right" aria-hidden="true"></span>
    </a>
</div>