<section class="content">
  <div class="content__wrapper">
    <div class="content__row">
      <div class="content__quote-wrapper">
        <div class="content__quote">
          It speeds up coding to such an extent that it feels awkward and slow when it's not available. Its
          implementation
          is subtle, but masterful. Among other things, it improves the auto-complete features, adds real time error
          spotting and automatically adds the correct references.
        </div>
        <p class="content__quote-author">
          Ben Franklin
          <br/>
          Senior Developer at Quba
        </p>
      </div>
      <article class="content__features">
        {% include feature-list.html %}
      </article>
    </div>
    <p class="content__warning">
      WARNING! Prolonged use may cause addiction.
    </p>
  </div>
  <div class="content__more-button">
    <span>
      Click to find out more
    </span>
    <img src="assets/images/open.svg" alt=""/>
  </div>
</section>
