<ul class="feature-list__left">
  <li class="feature-list__item">
    <h4>
      <img src="assets/images/compass.svg" alt=""/>
      Blazing fast navigation and search</h4>

    <p>Instantly traverse your entire solution: jump to any file, type, or type member in no time, or navigate
      from a specific symbol to its usages, base and derived symbols, or implementations. </p>
  </li>
  <li class="feature-list__item">
    <h4>
      <img src="assets/images/pyramid.svg" alt=""/>
      Automated solution-wide refactorings</h4>
    <p>
      Improve your code readability and maintainability in the most save and intelligent way. And do it with ease:
      each of ReSharper's 49 refactorings can be invoked as a context action right from the editor
    </p>
  </li>
  <li class="feature-list__item">
    <h4>
      <img src="assets/images/lamp.svg" alt=""/>
      On-the-fly code quality analysis and fixes
    </h4>

    <p>
      Not only does ReSharper warn you when there's errors or smells in your code but it provides quick-fixes to
      solve them automatically.
    </p>
  </li>
</ul>
<ul class="feature-list__right">
  <li class="feature-list__item">
    <h4>
      <img src="assets/images/codegen.svg" alt=""/>
      Code generation</h4>

    <p>You don't have to write properties, overloads, implementations, and comparers by hand: use code generation
      actions to handle boilerplate code faster.</p>
  </li>
  <li class="feature-list__item">
    <h4>
      <img src="assets/images/hammer.svg" alt=""/>
      Code editing helpers</h4>
    <p>A vast number of code editing helpers including extended IntelliSense, hundreds of instant code
      transformations, auto- importing namespaces, rearranging code and displaying documentation.</p>
  </li>
  <li class="feature-list__item">
    <h4>
      <img src="assets/images/compliance.svg" alt=""/>
      Compliance to coding standards</h4>
    <p>Remove redundant code and apply team coding conventions.</p>
  </li>
  <li class="feature-list__item">
    <h4>
      <img src="assets/images/features.svg" alt=""/>
      More features</h4>
    <p>Including extensible code templates, internationalization assistance, and a powerful unit test runner.</p>
  </li>
</ul>
