<section class="jumbotron">
  <div class="jumbotron__wrapper">
    <div class="jumbotron__left">
      <h3 class="jumbotron__title">
        Why ReSharper is awesome?
      </h3>
      <img class="jumbotron__img" src="assets/images/coder.png" alt=""/>
      <button class="jumbotron__button"></button>
    </div>
    <div class="jumbotron__right">
      <div class="jumbotron__desc">
        Join 250,000+ .NET developers
        all over the world and try
        the latest ReSharper now!
      </div>
      <div class="jumbotron__button-wrapper">
        <button class="button">
          Get ReSharper 8 Now
        </button>
        <p class="jumbotron__button-desc">
          Free 30-day trial (51.4 Mb)
        </p>
      </div>
    </div>
  </div>
</section>
