<div class="pre-footer">
  <div class="pre-footer__left">
    <h3 class="pre-footer__title">
      Become a part of a vibrant community
      Join thousands of happy ReSharper users worldwide!
    </h3>
    <ul class="pre-footer__link-list">
      <li>
        <img src="assets/images/youtube.svg" height="18px" alt=""/>
        Videos
      </li>
      <li>
        <img src="assets/images/twitter.svg" height="18px" alt=""/>
        Twitter
      </li>
      <li>
        <img src="assets/images/comment.svg" height="18px" alt=""/>
        Blog
      </li>
    </ul>
  </div>
  <div class="pre-footer__right">
    <div class="pre-footer__button-wrapper">
      <button class="button">
        Get ReSharper 8 Now
      </button>
      <p class="pre-footer__button-desc">
        Free 30-day trial (51.4 Mb)
      </p>
    </div>
  </div>
</div>

