<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="css/main.css">
  <script src="js/modernizr.js"></script>
</head>
<body>
<div class="layout">
  {% include top-menu.html %}
  {% include header.html %}
  {% include jumbotron.html %}
  {% include advantages.html %}
  {% include content.html %}
  {% include pre-footer.html %}
  {% include footer.html %}
</div>
<div class="cover">
  <a class="cover__link" href="http://browsehappy.com/">Using an outdated browser makes your computer unsafe. Browse Happy is a way for you to find out what are the latest versions of the major browsers around. You can also learn about alternative browsers that may fit you even better than the one you are currently using.</a>
</div>

</body>
</html>


