.button {
  border-radius: 6px;
  @include box-shadow(1px 1px 7px rgba(0, 0, 0, .18));
  @include linear-gradient(bottom, #de8b07, #f5a220 97%, #f5e320);
  border: solid 1px #cd7f03;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.18);
  color: #FFFFFF;
  color: #FFFFFF;
  font-family: $myriadHackFontFamily;
  font-size: 20px;
  line-height: 24px;
  padding: 24px 52px 21px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}
